.landingBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 100%;
    user-select: none;
}

.landingContainer{
    display: flex;
    flex-direction: column;
    width: 511px;
    height: 634px; 
    align-items: center;
    text-align: center;
    justify-content: space-around;
    margin-top: 5vh;
    color: #313131;
}

.landingEmployeeButton{
    background-color: #ebeae3;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    color: #313131;
    width: 50%;
}
.landingEmployeeButton-nm{
    background-color: #313131;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    color: white;
    width: 50%;
}


.landingTechButton{
    background-color: #ebeae3;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 20%;
    color: #313131;
    width: 50%;
}
.landingTechButton-nm{
    background-color: #313131;
    height: 50%;
    margin-top: 5%;
    margin-bottom: 20%;
    color: #313131;
    width: 50%;
}


.landingAdminButton{
    background-color: #ebeae3;
    height: 50%;
    margin-top: 5%;
    margin-bottom:20%;
    color: #313131;
    width: 50%;
}
.landingAdminButton-nm{
    background-color: #313131;
    height: 50%;
    margin-top: 5%;
    margin-bottom:20%;
    color: #313131;
    width: 50%;
}


.landingButtonLogo{
    font-size: 1.5rem;
    padding: 5%;
    color: #313131;
    height: 50%;
}
.landingButtonLogo-nm{
    font-size: 1.5rem;
    padding: 5%;
    color: white;
    height: 50%;
}
.landingSubmit{
    color: white;
    background-color: #313131;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
    user-select: none;
}
.landingSubmit:hover{
    color: #313131;
    background-color: #c99450;
    /* border: 1px solid #313131; */
    cursor: pointer;
    user-select: none;
}

.landingSubmit-nm{
    color: white;
    background-color: #1d1d1d;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 10%;
    justify-content: center;
    text-align: center;
    align-items: center;
    user-select: none;
}
.landingSubmit-nm:hover{
    color: #313131;
    background-color: #ebe6e3;
    border: 1px solid #313131;
    cursor: pointer;
    user-select: none;
}

