.ticketPageContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: #F5f5f5; */
    margin-top: 10vh;
    color: #313131;
    font-family: 'Jost', sans-serif;
}

.ticketStatusContainer{
    display: flex;
    flex-direction: column;
    background-color: #f5f4f2;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);;
    width: 50vw;
    height: fit-content; 
    padding-bottom: 3%;
    align-items: center;
    margin: -5% 0 5%; 
}
.ticketStatusContainer h1 {
    margin-top: 4%;
}

.submittedTicket {
    height: 10%;
    width: 90%;
    text-align: center;
    margin-top: 1%;
    padding: 1% 0;
    border-top: #313131 solid 1px;
}


.ticketFormContainer{
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-height:max-content;
    font-size: 1rem;
    background-color: #f5f4f2;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 4%;
    margin-bottom: 5%;
}

.ticketForm{
    display: flex;
    flex-direction: column;
    padding: 2% 8%;
    background-color: #ebeae3;
    margin: -4% 10% 10% 10%;
}

.ticketForm select  {
    margin: 3% 0;
    width: 100%;
    height: 20%;
    padding:3% 0 3% 2%; 
    font-size: 1rem;
}

.createSubmit {
    margin: 3% 0;
    width: 100%;
    height: 20%;
    padding:3% 0 3% 2%; 
    font-size: 1rem;
}


textarea {
    padding: 3% 2%;
    font-size: 1rem;
}

.createSubmit{
    background-color: #d1d0cb;

}

.createSubmit:hover{
    background-color: rgb(244, 247, 233);
}

#newIssueButton {
    height: 50px;
    width: 10%;
    text-align: center;
    font-size: large;
    border-radius: 25px;
    background-color: #d1d0cb;
    transition: ease 300ms;
}

#newIssueButton:hover {
    background-color: rgb(244, 247, 233);
}

#newIssueButton:active {
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
}

#ticketFormClose {
    border: solid #313131 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    top: -120px;
    left: -54%;
    cursor: pointer;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
    background-color: #d1d0cb;
}
#ticketFormClose:hover {
    background-color: rgb(244, 247, 233);
}
#ticketFormClose:active {
    scale: 1.05rem;
    border-color: none;
}
#ticketLinkContainer {
    width: 90%;
    margin: 2%;
}

@media screen and (max-height: 400px){
    .ticketPageContainer{
        min-height: 200px;
        min-width: 300px;
    }
}

/* Table data  */
.ticketsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ticketsTable th, .ticketsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ticketsTable th {
    background-color: #f2f2f2;
  }
  
  .ticketsTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  .ticketsTable tbody tr:hover {
    background-color: #e6f7ff;
  }
  
  .ticketsTable td button {
    background-color: #d1d0cb;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: ease 300ms;
  }

  .ticketsTable td button:hover {
    background-color: rgb(244, 247, 233);

  }
  
  .ticketsTable td button:active {
    background-color: #ff3333;
    color: rgb(244, 247, 233);
  }
  