.ticketPageContainer{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: #F5f5f5; */
    margin-top: 5vh;
    color: #313131;
    font-family: 'Jost', sans-serif;
}

.ticketStatusContainer{
    display: inline-block;
    flex-direction: column;
    background-color: #f5f4f2;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);;
    width: 634px;
    height: 511px;
    overflow-y: scroll;
    align-items: center;
}
.ticketStatusContainer::-webkit-scrollbar {
    width: 12px; 
    
}

.ticketStatusContainer::-webkit-scrollbar-thumb {
    background-color: #d1d0cb; 
    border-radius: 6px; 
    border: 3px solid #f5f4f2; 
}

.ticketStatusContainer::-webkit-scrollbar-track {
    background-color: #f5f4f2; 
}
.ticketStatusContainer h2 {
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    background-color:#f5f4f2;
    border-bottom: 1px solid #313131;
    padding-top: 20px;
    padding-bottom: 20px;
}

.submittedTicket {
    height: 10%;
    width: 90%;
    text-align: center;
    margin-top: 1%;
    padding: 1% 0;
    border-top: #313131 solid 1px;
}


.ticketFormContainer{
    display: flex;
    flex-direction: column;
    width: 634px;
    max-height: 45vh;
    font-size: 1rem;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 5%;
    background-color: #f5f4f2;
}

.ticketForm{
    display: flex;
    flex-direction: column;
    background-color: #ebeae3;
    margin-top: 10px;
    margin-bottom: 55px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.ticketForm select  {
    margin: 3% 0;
    width: 100%;
    height: 20%;

    font-size: 1rem;
}

.createSubmit {
    margin: 3% 0;
    width: 100%;
    height: 20%;
    padding:3% 0 3% 2%; 
    font-size: 1rem;
    transition: ease 300ms;
}
.ticketHeaderContainer{
    width: 100%;
}
/* textarea {
    padding: 3% 2%;
    font-size: 1rem;
} */

.createSubmit{
    background-color: #d1d0cb;

}

.createSubmit:hover{
    background-color: rgb(244, 247, 233);
}

#newIssueButton {
    height: 50px;
    width: 10%;
    text-align: center;
    font-size: large;
    border-radius: 25px;
    background-color: #d1d0cb;
    transition: ease 300ms;
    margin-top: 50px;
    font-family: 'Jost', sans-serif;
}

#newIssueButton:hover {
    background-color: rgb(244, 247, 233);
}

#newIssueButton:active {
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
}

#ticketFormClose {
    border: solid #313131 1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    right: 48%;
    
    font-size: small;
    cursor: pointer;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);
    background-color: #d1d0cb;
    transition: ease 300ms;
}

#ticketFormClose:hover {
    background-color: rgb(244, 247, 233);
}

#ticketFormClose:active {
    scale: 1.05rem;
    border-color: none;
    background-color: #ff3333;
}
#ticketLinkContainer {
    width: 90%;
    position: absolute;
    bottom: 3%;
}

@media screen and (max-height: 400px){
    .ticketPageContainer{
        min-height: 200px;
        min-width: 300px;
    }
}

/* Table data  */
.ticketsTable {
    border: none;
    overflow-y: scroll;
  }
  
  .ticketsTable th, .ticketsTable td {
    border: 1px solid #ddd;
  }
  
  .ticketsTable th {
    background-color: #f2f2f2;
  }
  
  .ticketsTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    
  }
  
  .ticketsTable tbody tr:hover {
    background-color: #e6f7ff;
    cursor: pointer;
  }
  
  .ticketsTable td button {
    background-color: #d1d0cb;
    border: none;
    cursor: pointer;
    transition: ease 300ms;
    width: 100%;
    height: 33px;
  }

  .ticketsTable td button:hover {
    background-color: rgb(244, 247, 233);

  }
  
  .ticketsTable td button:active {
    background-color: #ff3333;
    color: rgb(244, 247, 233);
  }

  .descriptionCell {
    white-space: normal;
    text-overflow:ellipsis;
    width: 100%;
    max-width: 311px;
    text-align: left;
    padding-left: 10px;
  }
  .descriptionText{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    max-width: 311px;
    text-align: left;
    padding-left: 10px;
  }
  .headerCell{
    width: 100%;
  }

  .categoryCell {
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
  }
  .categoryCell text{
    width: 30%;
    text-indent: 10%;
  }

  .locationCell {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;
  }

  .actionCell {
    overflow: hidden;
    width: 7%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .actionCell button {
    text-align: center;
    align-items: center;
    font-family: 'Jost', sans-serif;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .expandedRow{
    background-color: rgb(248, 248, 248);
    width: 100%;

  }
  .expandedRowContainer{
    width: 100%;
    flex-grow: 1;
  }
  .fullDescription{
    text-align: left;
    height: 200px;
    width:100%;
    max-width: 100%;
    display: flex;
    background-color: rgb(240, 239, 239);
    border-right: 1px outset #313131;
    border-bottom: 1px outset #313131;
    border-left: 1px inset #313131;
  }
  .fullDescription:hover{
    cursor: default;
  }
 