.technician-container {
    height: 80vh;
    width: 100vw;
    background-color: #F5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.technician-unassignedTickets {
    height: 70vh;
    width: 40vw;
    background-color: #f5f4f2;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.technician-assignedTickets {
    height: 70vh;
    width: 40vw;
    background-color: #f5f4f2;
    box-shadow: 0px 0px 30px 12px rgba(0,0,0,0.10);    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.technician-title {
    font-size: 2rem;
    text-align: center;
}

.technician-ticketContainer {
    height: 60vh;
    width: 40vw;
    background-color: white;
    border: 1px black solid;
    overflow: scroll;
    white-space: scroll;
}

.table-ticket table {
    width: 60vw;
    border: 1px solid #313131;
    font-size: 1rem;
    text-align: center;
}

.table-ticket tr {
    max-height: 2vh;
    font-size: 0.8rem;
    text-align: center;
    overflow: clip;
    white-space: collapse balance;
    text-overflow: ellipsis;
}

.table-ticket thead, tfoot {
    background-color: #313131;
    color: #fff;
}
