
/* jesse's css for Technician component moved to component folders*/

*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #f5f4f2;
    font-family: 'Jost', sans-serif;
}
.appLogo{
    width: 15vw;
    
}
body{
    /* background-image: url('./components/assets/peaks.svg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
